* {
	padding: 0;
	margin: 0;
}
html::-webkit-scrollbar {
	width: 0;
}
body::-webkit-scrollbar {
	width: 0;
}
body {
	font-family:
		Meiryo, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP",
		sans-serif;
}
.box-border-important {
	box-sizing: border-box !important;
}
.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.flex1 {
	flex: 1;
}
.justify-content-end {
	justify-content: end;
}
.justify-content-center {
	justify-content: center;
}
.align-items-center {
	align-items: center;
}
.justify-content-space-between {
	justify-content: space-between;
}
.main-text-color {
	color: #0054ac;
}
.main-bg-color {
	background: #0054ac;
}
.font-bold {
	font-weight: bold;
}
.red-star::after {
	content: "*";
	color: #ec4949;
	margin-left: 2px;
	vertical-align: middle;
}
.black4 {
	color: rgba(0, 0, 0, 0.4);
}
.black87 {
	color: rgba(0, 0, 0, 0.87);
}
.black6 {
	color: rgba(0, 0, 0, 0.6);
}
.relative {
	position: relative;
}
.header {
	height: 64px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	font-weight: bold;
	padding: 0 8px;
	font-size: 14px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
}
.header .home-header-title {
	font-size: 12px;
	padding-left: 4px;
}
.header .title {
	padding-left: 4px;
}
.header .header-icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	cursor: pointer;
}
.header .header-icon:hover {
	background-color: rgba(0, 0, 0, 0.04);
}
.main-btn {
	border: none;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	font-size: 13px;
}
.main-btn.main-bg-color:hover {
	background-color: rgb(0, 84, 172);
}
.grey-bg-color {
	background-color: #c6c6c6;
	cursor: not-allowed;
}
.loading .ball-clip-rotate > div {
	background-color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	border: 2px solid #fff;
	border-bottom-color: transparent;
	height: 25px;
	width: 25px;
	background: transparent !important;
	display: inline-block;
	-webkit-animation: rotate 0.75s 0s linear infinite;
	animation: rotate 0.75s 0s linear infinite;
}
.loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.modal {
	position: fixed;
	top: 64px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}
.modal-mask {
	background: #979797;
	opacity: 0.5;
	z-index: 4;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	cursor: pointer;
}
.modal-box {
	background: #fff;
	padding: 0 16px;
	border-radius: 4px;
	position: relative;
	z-index: 5;
	width: calc(100% - 64px);
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
}
.modal-header {
	height: 64px;
	font-size: 16px;
	font-weight: bold;
	color: #303030;
}
.modal-header svg {
	cursor: pointer;
}
.modal-content {
	font-size: 13px;
	line-height: 24px;
	color: #303030;
}
.modal-footer {
	height: 144px;
}
.modal-footer button {
	width: 100%;
	border: none;
	height: 32px;
	line-height: 32px;
	border-radius: 4px;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
	margin-bottom: 8px;
}
.modal-footer button.cancel {
	border: 1px solid #026fee;
	background: #fff;
	color: #026fee;
}
.link-box {
	position: fixed;
	background: #fff;
	box-shadow:
		0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	top: 64px;
	z-index: 3;
	border-radius: 4px;
	padding: 6px 0;
	right: 0;
}
.link-box .link-item {
	height: 24px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 14px;
	cursor: pointer;
	padding: 6px 16px;
}
.link-box .link-item a {
	color: rgba(0, 0, 0, 0.87);
	text-decoration: none;
}
.link-box .link-item:hover {
	background-color: rgba(0, 0, 0, 0.08);
}
.transparent-mask {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.radio-box {
	padding: 0 16px;
}
.radio-box .radio-title {
	line-height: 16px;
	font-size: 12px;
	padding-top: 12px;
}
.radio-box .radio-item {
	height: 40px;
	font-size: 14px;
	cursor: pointer;
}
.radio-box .radio-item svg {
	margin-right: 10px;
}
.border-bottom {
	border-bottom: 1px solid #f5f5f5;
}
.include-journal {
	line-height: 20px;
	padding: 0 16px 12px 16px;
	font-size: 14px;
	cursor: pointer;
}
.include-journal svg {
	margin-right: 12px;
}
.calendar {
	position: absolute;
	left: 0px;
	right: 16px;
	top: 46px;
	z-index: 3;
	padding: 16px 21px 0 21px;
	background: #fff;
	box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.22);
}
.calendar .calendar-header {
	height: 24px;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 20px;
}
.calendar .calendar-body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4px;
}
.calendar .calendar-body .calendar-item {
	margin-bottom: 16px;
	line-height: 36px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 500;
	font-size: 12px;
}
.calendar .calendar-body .calendar-item.active {
	background: #0054ac;
	color: #fff;
}
.calendar .calendar-footer {
	height: 52px;
	font-size: 14px;
	font-weight: 500;
}
.calendar .calendar-footer div {
	padding: 0 15px;
	cursor: pointer;
}
.date-tip {
	ine-height: 20px;
	font-size: 12px;
	padding: 0 16px;
}
.v-application--wrap {
	min-height: auto;
}
.v-picker__body {
	width: 252px !important;
}
.v-application .v-btn.accent {
	background-color: #0054ac !important;
	border-color: #0054ac !important;
}
.v-application .v-btn.accent--text {
	color: #0054ac !important;
}
.v-card__actions {
	justify-content: end;
}
.child-flex > *,
.flex {
	flex: 0 1 auto !important;
}
*,
:after,
:before {
	box-sizing: content-box !important;
}
.v-btn:not(.v-btn--round).v-size--default {
	box-sizing: border-box !important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
	> .v-input__control
	> .v-input__slot {
	box-shadow: none;
	padding: 0;
	margin: 0;
}
.v-text-field.v-text-field--enclosed .v-text-field__details {
	display: none;
}
.v-text-field.v-text-field--solo .v-input__control {
	min-height: 24px;
}
.v-text-field.v-text-field--solo .v-label {
	color: rgba(0, 0, 0, 0.87);
	font-size: 14px;
}
.theme--light.v-select .v-select__selections {
	font-size: 14px;
}
.v-list .v-list-item--active,
.v-list .v-list-item--active .v-icon {
	color: #0054ac !important;
	caret-color: #0054ac !important;
}
.v-list .v-list-item--active .v-list-item__title {
	color: #0054ac !important;
	caret-color: #0054ac !important;
}
.v-text-field.v-text-field--solo .v-input__control input {
	padding: 0;
}
.error.v-text-field.v-text-field--solo .v-label {
	color: #f44336 !important;
}
.error .theme--light.v-icon {
	color: #f44336 !important;
}
.master .radio-box .error {
	padding-left: 0px;
}
.v-input--is-focused {
	border-color: #026fee !important;
	border-style: solid !important;
}
.v-application {
	font-family:
		Meiryo, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP",
		sans-serif !important;
}
/* // common style end */
/* // login style start */
.login {
	padding-top: 64px;
}
.login .logo svg {
	width: 220px;
	margin-bottom: 25px;
	margin-top: 30px;
}
.login .logo svg .cls-1 {
	fill: #0054ac;
}
.login .logo svg .cls-2 {
	fill: #4a4a4a;
}
.login .logo svg .cls-3 {
	fill: none;
	opacity: 0.2;
}
.login button {
	width: 144px;
	height: 36px;
	line-height: 36px;
}
.login button a {
	color: #fff;
	text-decoration: none;
	display: block;
}
/* // login style end */
/* // home style start */
.home {
	padding-top: 64px;
}
.home .box {
	padding: 0 16px;
	border-bottom: 1px solid #f5f5f5;
}
.home .box .black6 {
	font-size: 13px;
	line-height: 20px;
	height: 56px;
}
.home .title {
	height: 50px;
	line-height: 50px;
	font-size: 13px;
}
.home .title66 {
	height: 66px;
	line-height: 66px;
	font-size: 13px;
}
.home .info {
	height: 56px;
}
.home .info .black4 {
	line-height: 18px;
	font-size: 13px;
}
.home .info .black87 {
	line-height: 22px;
	font-size: 13px;
}
.home .again {
	height: 60px;
}
.home .again .main-text-color {
	line-height: 36px;
	font-size: 13px;
	cursor: pointer;
}
.home .again .main-text-color:hover {
	background: rgba(171, 204, 242, 0.3);
	border-radius: 4px;
}
.home button {
	height: 40px;
	margin-bottom: 20px;
	font-size: 13px;
	padding: 0 12px;
}
.home button svg {
	margin-right: 12px;
}
/* // home style end */
/* // master style start */
.master {
	padding-top: 64px;
}
.master .outer {
	padding: 16px;
}
.master .outer svg {
	margin-right: 12px;
}
.master .outer .title {
	line-height: 18px;
	font-size: 16px;
	font-weight: bold;
}
.master .outer .der {
	line-height: 22px;
	font-size: 14px;
}
.master .item {
	height: 63px;
	padding: 0 16px;
}
.master .item .label {
	font-size: 12px;
	line-height: 16px;
}
.master .item svg {
	cursor: pointer;
}
.master .item .value {
	position: relative;
}
.master .item .value .text {
	line-height: 24px;
	font-size: 14px;
}
.master .item .value .select {
	height: 24px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 14px;
	cursor: pointer;
	padding-right: 10px;
}
.master .item .value .type-box {
	position: absolute;
	background: #fff;
	box-shadow:
		0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14),
		0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	top: -48px;
	z-index: 3;
	border-radius: 4px;
	padding: 6px 0;
	max-height: 400px;
	overflow: auto;
}
.master .item .value .type-box .type-item {
	line-height: 24px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 14px;
	cursor: pointer;
	padding: 6px 16px;
}
.master .item .value .type-box .type-item:hover {
	background-color: rgba(0, 0, 0, 0.08);
}
.master .item .value .type-box .type-item.selected {
	background-color: rgba(0, 84, 172, 0.12);
	color: #0054ac;
}
.master .input-item {
	height: 71px;
	margin: 16px 0;
}
.master .input-item svg {
	position: absolute;
	right: 0;
	top: 30px;
	cursor: pointer;
}
.master .input-item input {
	height: 24px;
	border: none;
	outline: none;
	padding-bottom: 6px;
	border-bottom: 1px solid #f5f5f5;
	width: 100%;
	font-size: 14px;
}
.master .input-item input:focus {
	border-bottom: 1px solid #026fee;
}
.master .range-item {
	padding-top: 12px;
}
.master .range-item .value {
	height: 36px;
}
.master .button-box {
	height: 122px;
	padding: 0 16px;
}
.master .button-box button {
	height: 36px;
	line-height: 36px;
	width: 100%;
	margin-bottom: 12px;
}
.master .button-box .tip {
	line-height: 20px;
	font-size: 12px;
}
.master .error {
	line-height: 20px;
	color: #f44336;
	font-size: 12px;
	padding: 0 16px;
}
.master .error-multiline {
	white-space: pre-line;
	padding: 0 16px 12px;
}

.font-12 {
	font-size: 12px;
}

.px-16 {
	padding-left: 16px;
	padding-right: 16px;
}
.py-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.v-menu__content {
	margin-top: 28px;
}
